/* HEADER */
body{
    background-color: rgba(109, 7, 7, 0.049)
  }
a{
    color: white;
    text-decoration: none;
}

.header {
    /* height: 60px; */
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 128, 0, 0.179);
    padding-bottom: 90px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
.navigation-flex {
    position: fixed;
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    height: 45px;
    
}
.navigacia {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1440px;
}
.nav-ul {
    justify-content: flex-end;
    display: flex;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato;
}
.nav-li {
    font-family: BPG Arial;
    margin-right: 40px;
}
.nav-li:hover {
    cursor: pointer;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 0);
}


.main-section {
    padding-top: 120px;
}
.main-section h1 {
    display: block;
    font-size: 40px;
    font-family: ALK Life;
    color: black;
    margin-bottom: 50px;
}
.main-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    border: 3px;
    border-style: solid;
    border-color: coral;
    /* 6E164A */
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0);
}
.product-wrapper {
    /* align-self: top; */
    width: 200px;
    overflow: hidden;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.product-wrapper img {
    align-self: center;
    height: 200px;
}
.product-wrapper p {
    line-height: 15px;
    margin-top: 10px;
    text-align: justify;
    width: 200px;
    font-size: 10px;
}
.product-wrapper h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-family: BPG Arial;
}


/* footer */
.footer {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-color: #1A3969;
}